{% extends "index.html" %}


{% block div %}
<div class="container mt-5 d-flex justify-content-center">
  <form action="/create-invoice" method="post" class="mt-5">
    <div class="row">
      <div class="mt-5 mb-5 text-success">
        <span class="badge bg-success">Invoice Number</span>
        <span class="badge bg-success col-sm-offset-2">Date of Issue</span>
      </div>
      <div class="form-group col-sm-3">
        <input type="number" class="form-control" name="invoice-number" placeholder="Number" required>
      </div>
      <div class="form-group col-sm-4">
        <input type="date" class="form-control" name="invoice-date" placeholder="Date" required>
      </div>
    </div>
    <div class="row">
      <div class="mt-5 mb-5 text-success">
        <span class="badge bg-success">Company Details</span>
        <span class="badge bg-success float-end">Billed To</span>
      </div>
      <div class="form-group col-sm-4">
        <input type="text" class="form-control" name="company-name" placeholder="Company Name" required>
      </div>
      <div class="form-group col-sm-4 col-sm-offset-4">
        <input type="text" class="form-control" name="billed-name" placeholder="Billed Name" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <input type="url" class="form-control" name="company-website" placeholder="Website" required>
      </div>
      <div class="form-group col-sm-4 col-sm-offset-4">
        <input type="text" class="form-control" name="billed-address" placeholder="Billed Address" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-5">
        <input type="text" class="form-control" name="company-address" placeholder="Address" required>
      </div>
    </div>
    <div class="row">
      <div class="mt-5 mb-5 text-success">
        <span class="badge bg-success">Description of Products</span>
      </div>
      <div class="row form-group">
        <div class="col-sm-5"><input type="text" class="form-control" id="description" placeholder="Description"></div>
        <div class="col-sm-2"><input type="number" class="form-control" id="cost" placeholder="Unit Cost"></div>
        <div class="col-sm-2"><input type="number" class="form-control" id="quantity" placeholder="Quantity"></div>
        <div class="col-sm-1"><button type="button" class="btn btn-success" id="add">Add</button></div>
        <div class="col-sm-1"><button type="button" class="btn btn-success" id="remove">Remove</button></div>
      </div>
    </div>
    <table class="table table-striped mt-5">
      <thead class="thread-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Description</th>
          <th scope="col">Unit Cost</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
    </table>
    <div class="mt-5 text-center"><button type="submit" class="btn btn-success">Create Invoice</button></div>
    {% if created %}
      <div class="container mt-5 d-flex justify-content-center">
        <p class="text-success">Invoice was successfully created.</p>
      </div>
    {% endif %}
  </form>
</div>
{% endblock %} 


